// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-hover-name: 'arrow-hover';
$arrow-hover-x: 1235px;
$arrow-hover-y: 547px;
$arrow-hover-offset-x: -1235px;
$arrow-hover-offset-y: -547px;
$arrow-hover-width: 19px;
$arrow-hover-height: 9px;
$arrow-hover-total-width: 1262px;
$arrow-hover-total-height: 1152px;
$arrow-hover-image: 'sprite.png';
$arrow-hover: (1235px, 547px, -1235px, -547px, 19px, 9px, 1262px, 1152px, 'sprite.png', 'arrow-hover', );
$arrow-name: 'arrow';
$arrow-x: 1230px;
$arrow-y: 501px;
$arrow-offset-x: -1230px;
$arrow-offset-y: -501px;
$arrow-width: 19px;
$arrow-height: 9px;
$arrow-total-width: 1262px;
$arrow-total-height: 1152px;
$arrow-image: 'sprite.png';
$arrow: (1230px, 501px, -1230px, -501px, 19px, 9px, 1262px, 1152px, 'sprite.png', 'arrow', );
$bg-logo-name: 'bg-logo';
$bg-logo-x: 0px;
$bg-logo-y: 547px;
$bg-logo-offset-x: 0px;
$bg-logo-offset-y: -547px;
$bg-logo-width: 322px;
$bg-logo-height: 114px;
$bg-logo-total-width: 1262px;
$bg-logo-total-height: 1152px;
$bg-logo-image: 'sprite.png';
$bg-logo: (0px, 547px, 0px, -547px, 322px, 114px, 1262px, 1152px, 'sprite.png', 'bg-logo', );
$cop-icon-name: 'cop-icon';
$cop-icon-x: 1230px;
$cop-icon-y: 318px;
$cop-icon-offset-x: -1230px;
$cop-icon-offset-y: -318px;
$cop-icon-width: 27px;
$cop-icon-height: 27px;
$cop-icon-total-width: 1262px;
$cop-icon-total-height: 1152px;
$cop-icon-image: 'sprite.png';
$cop-icon: (1230px, 318px, -1230px, -318px, 27px, 27px, 1262px, 1152px, 'sprite.png', 'cop-icon', );
$arrows-name: 'arrows';
$arrows-x: 0px;
$arrows-y: 912px;
$arrows-offset-x: 0px;
$arrows-offset-y: -912px;
$arrows-width: 60px;
$arrows-height: 240px;
$arrows-total-width: 1262px;
$arrows-total-height: 1152px;
$arrows-image: 'sprite.png';
$arrows: (0px, 912px, 0px, -912px, 60px, 240px, 1262px, 1152px, 'sprite.png', 'arrows', );
$battle-top-name: 'battle-top';
$battle-top-x: 0px;
$battle-top-y: 661px;
$battle-top-offset-x: 0px;
$battle-top-offset-y: -661px;
$battle-top-width: 235px;
$battle-top-height: 122px;
$battle-top-total-width: 1262px;
$battle-top-total-height: 1152px;
$battle-top-image: 'sprite.png';
$battle-top: (0px, 661px, 0px, -661px, 235px, 122px, 1262px, 1152px, 'sprite.png', 'battle-top', );
$bg-logo-name: 'bg-logo';
$bg-logo-x: 0px;
$bg-logo-y: 783px;
$bg-logo-offset-x: 0px;
$bg-logo-offset-y: -783px;
$bg-logo-width: 129px;
$bg-logo-height: 129px;
$bg-logo-total-width: 1262px;
$bg-logo-total-height: 1152px;
$bg-logo-image: 'sprite.png';
$bg-logo: (0px, 783px, 0px, -783px, 129px, 129px, 1262px, 1152px, 'sprite.png', 'bg-logo', );
$biofrost-name: 'biofrost';
$biofrost-x: 780px;
$biofrost-y: 318px;
$biofrost-offset-x: -780px;
$biofrost-offset-y: -318px;
$biofrost-width: 225px;
$biofrost-height: 193px;
$biofrost-total-width: 1262px;
$biofrost-total-height: 1152px;
$biofrost-image: 'sprite.png';
$biofrost: (780px, 318px, -780px, -318px, 225px, 193px, 1262px, 1152px, 'sprite.png', 'biofrost', );
$bt-bottom-line-h-name: 'bt-bottom-line-h';
$bt-bottom-line-h-x: 1072px;
$bt-bottom-line-h-y: 539px;
$bt-bottom-line-h-offset-x: -1072px;
$bt-bottom-line-h-offset-y: -539px;
$bt-bottom-line-h-width: 136px;
$bt-bottom-line-h-height: 2px;
$bt-bottom-line-h-total-width: 1262px;
$bt-bottom-line-h-total-height: 1152px;
$bt-bottom-line-h-image: 'sprite.png';
$bt-bottom-line-h: (1072px, 539px, -1072px, -539px, 136px, 2px, 1262px, 1152px, 'sprite.png', 'bt-bottom-line-h', );
$bt-bottom-line-n-name: 'bt-bottom-line-n';
$bt-bottom-line-n-x: 1072px;
$bt-bottom-line-n-y: 541px;
$bt-bottom-line-n-offset-x: -1072px;
$bt-bottom-line-n-offset-y: -541px;
$bt-bottom-line-n-width: 136px;
$bt-bottom-line-n-height: 2px;
$bt-bottom-line-n-total-width: 1262px;
$bt-bottom-line-n-total-height: 1152px;
$bt-bottom-line-n-image: 'sprite.png';
$bt-bottom-line-n: (1072px, 541px, -1072px, -541px, 136px, 2px, 1262px, 1152px, 'sprite.png', 'bt-bottom-line-n', );
$bt-icon-h-name: 'bt-icon-h';
$bt-icon-h-x: 1230px;
$bt-icon-h-y: 457px;
$bt-icon-h-offset-x: -1230px;
$bt-icon-h-offset-y: -457px;
$bt-icon-h-width: 23px;
$bt-icon-h-height: 23px;
$bt-icon-h-total-width: 1262px;
$bt-icon-h-total-height: 1152px;
$bt-icon-h-image: 'sprite.png';
$bt-icon-h: (1230px, 457px, -1230px, -457px, 23px, 23px, 1262px, 1152px, 'sprite.png', 'bt-icon-h', );
$bt-icon-n-name: 'bt-icon-n';
$bt-icon-n-x: 1230px;
$bt-icon-n-y: 434px;
$bt-icon-n-offset-x: -1230px;
$bt-icon-n-offset-y: -434px;
$bt-icon-n-width: 23px;
$bt-icon-n-height: 23px;
$bt-icon-n-total-width: 1262px;
$bt-icon-n-total-height: 1152px;
$bt-icon-n-image: 'sprite.png';
$bt-icon-n: (1230px, 434px, -1230px, -434px, 23px, 23px, 1262px, 1152px, 'sprite.png', 'bt-icon-n', );
$bt-team-1-name: 'bt-team-1';
$bt-team-1-x: 742px;
$bt-team-1-y: 547px;
$bt-team-1-offset-x: -742px;
$bt-team-1-offset-y: -547px;
$bt-team-1-width: 82px;
$bt-team-1-height: 82px;
$bt-team-1-total-width: 1262px;
$bt-team-1-total-height: 1152px;
$bt-team-1-image: 'sprite.png';
$bt-team-1: (742px, 547px, -742px, -547px, 82px, 82px, 1262px, 1152px, 'sprite.png', 'bt-team-1', );
$bt-team-2-name: 'bt-team-2';
$bt-team-2-x: 824px;
$bt-team-2-y: 547px;
$bt-team-2-offset-x: -824px;
$bt-team-2-offset-y: -547px;
$bt-team-2-width: 84px;
$bt-team-2-height: 74px;
$bt-team-2-total-width: 1262px;
$bt-team-2-total-height: 1152px;
$bt-team-2-image: 'sprite.png';
$bt-team-2: (824px, 547px, -824px, -547px, 84px, 74px, 1262px, 1152px, 'sprite.png', 'bt-team-2', );
$bt-top-line-name: 'bt-top-line';
$bt-top-line-x: 1260px;
$bt-top-line-y: 0px;
$bt-top-line-offset-x: -1260px;
$bt-top-line-offset-y: 0px;
$bt-top-line-width: 2px;
$bt-top-line-height: 188px;
$bt-top-line-total-width: 1262px;
$bt-top-line-total-height: 1152px;
$bt-top-line-image: 'sprite.png';
$bt-top-line: (1260px, 0px, -1260px, 0px, 2px, 188px, 1262px, 1152px, 'sprite.png', 'bt-top-line', );
$ec-more-big-name: 'ec-more-big';
$ec-more-big-x: 908px;
$ec-more-big-y: 584px;
$ec-more-big-offset-x: -908px;
$ec-more-big-offset-y: -584px;
$ec-more-big-width: 87px;
$ec-more-big-height: 29px;
$ec-more-big-total-width: 1262px;
$ec-more-big-total-height: 1152px;
$ec-more-big-image: 'sprite.png';
$ec-more-big: (908px, 584px, -908px, -584px, 87px, 29px, 1262px, 1152px, 'sprite.png', 'ec-more-big', );
$ec-more-name: 'ec-more';
$ec-more-x: 1179px;
$ec-more-y: 547px;
$ec-more-offset-x: -1179px;
$ec-more-offset-y: -547px;
$ec-more-width: 56px;
$ec-more-height: 19px;
$ec-more-total-width: 1262px;
$ec-more-total-height: 1152px;
$ec-more-image: 'sprite.png';
$ec-more: (1179px, 547px, -1179px, -547px, 56px, 19px, 1262px, 1152px, 'sprite.png', 'ec-more', );
$list-dec-name: 'list-dec';
$list-dec-x: 1251px;
$list-dec-y: 345px;
$list-dec-offset-x: -1251px;
$list-dec-offset-y: -345px;
$list-dec-width: 9px;
$list-dec-height: 11px;
$list-dec-total-width: 1262px;
$list-dec-total-height: 1152px;
$list-dec-image: 'sprite.png';
$list-dec: (1251px, 345px, -1251px, -345px, 9px, 11px, 1262px, 1152px, 'sprite.png', 'list-dec', );
$logo-battle-top-name: 'logo-battle-top';
$logo-battle-top-x: 1230px;
$logo-battle-top-y: 480px;
$logo-battle-top-offset-x: -1230px;
$logo-battle-top-offset-y: -480px;
$logo-battle-top-width: 21px;
$logo-battle-top-height: 21px;
$logo-battle-top-total-width: 1262px;
$logo-battle-top-total-height: 1152px;
$logo-battle-top-image: 'sprite.png';
$logo-battle-top: (1230px, 480px, -1230px, -480px, 21px, 21px, 1262px, 1152px, 'sprite.png', 'logo-battle-top', );
$logo-sm-egd-name: 'logo-sm-egd';
$logo-sm-egd-x: 786px;
$logo-sm-egd-y: 661px;
$logo-sm-egd-offset-x: -786px;
$logo-sm-egd-offset-y: -661px;
$logo-sm-egd-width: 40px;
$logo-sm-egd-height: 40px;
$logo-sm-egd-total-width: 1262px;
$logo-sm-egd-total-height: 1152px;
$logo-sm-egd-image: 'sprite.png';
$logo-sm-egd: (786px, 661px, -786px, -661px, 40px, 40px, 1262px, 1152px, 'sprite.png', 'logo-sm-egd', );
$logo-sm-lgd-name: 'logo-sm-lgd';
$logo-sm-lgd-x: 826px;
$logo-sm-lgd-y: 661px;
$logo-sm-lgd-offset-x: -826px;
$logo-sm-lgd-offset-y: -661px;
$logo-sm-lgd-width: 32px;
$logo-sm-lgd-height: 40px;
$logo-sm-lgd-total-width: 1262px;
$logo-sm-lgd-total-height: 1152px;
$logo-sm-lgd-image: 'sprite.png';
$logo-sm-lgd: (826px, 661px, -826px, -661px, 32px, 40px, 1262px, 1152px, 'sprite.png', 'logo-sm-lgd', );
$play-icon-hover-sm-name: 'play-icon-hover-sm';
$play-icon-hover-sm-x: 382px;
$play-icon-hover-sm-y: 783px;
$play-icon-hover-sm-offset-x: -382px;
$play-icon-hover-sm-offset-y: -783px;
$play-icon-hover-sm-width: 48px;
$play-icon-hover-sm-height: 48px;
$play-icon-hover-sm-total-width: 1262px;
$play-icon-hover-sm-total-height: 1152px;
$play-icon-hover-sm-image: 'sprite.png';
$play-icon-hover-sm: (382px, 783px, -382px, -783px, 48px, 48px, 1262px, 1152px, 'sprite.png', 'play-icon-hover-sm', );
$play-icon-name: 'play-icon';
$play-icon-x: 60px;
$play-icon-y: 912px;
$play-icon-offset-x: -60px;
$play-icon-offset-y: -912px;
$play-icon-width: 83px;
$play-icon-height: 166px;
$play-icon-total-width: 1262px;
$play-icon-total-height: 1152px;
$play-icon-image: 'sprite.png';
$play-icon: (60px, 912px, -60px, -912px, 83px, 166px, 1262px, 1152px, 'sprite.png', 'play-icon', );
$t-bg-line-name: 't-bg-line';
$t-bg-line-x: 1260px;
$t-bg-line-y: 188px;
$t-bg-line-offset-x: -1260px;
$t-bg-line-offset-y: -188px;
$t-bg-line-width: 1px;
$t-bg-line-height: 210px;
$t-bg-line-total-width: 1262px;
$t-bg-line-total-height: 1152px;
$t-bg-line-image: 'sprite.png';
$t-bg-line: (1260px, 188px, -1260px, -188px, 1px, 210px, 1262px, 1152px, 'sprite.png', 't-bg-line', );
$t-bg-linecover-name: 't-bg-linecover';
$t-bg-linecover-x: 1261px;
$t-bg-linecover-y: 188px;
$t-bg-linecover-offset-x: -1261px;
$t-bg-linecover-offset-y: -188px;
$t-bg-linecover-width: 1px;
$t-bg-linecover-height: 210px;
$t-bg-linecover-total-width: 1262px;
$t-bg-linecover-total-height: 1152px;
$t-bg-linecover-image: 'sprite.png';
$t-bg-linecover: (1261px, 188px, -1261px, -188px, 1px, 210px, 1262px, 1152px, 'sprite.png', 't-bg-linecover', );
$t-bg-logo-name: 't-bg-logo';
$t-bg-logo-x: 129px;
$t-bg-logo-y: 783px;
$t-bg-logo-offset-x: -129px;
$t-bg-logo-offset-y: -783px;
$t-bg-logo-width: 129px;
$t-bg-logo-height: 129px;
$t-bg-logo-total-width: 1262px;
$t-bg-logo-total-height: 1152px;
$t-bg-logo-image: 'sprite.png';
$t-bg-logo: (129px, 783px, -129px, -783px, 129px, 129px, 1262px, 1152px, 'sprite.png', 't-bg-logo', );
$t-biofrost-name: 't-biofrost';
$t-biofrost-x: 1005px;
$t-biofrost-y: 318px;
$t-biofrost-offset-x: -1005px;
$t-biofrost-offset-y: -318px;
$t-biofrost-width: 225px;
$t-biofrost-height: 193px;
$t-biofrost-total-width: 1262px;
$t-biofrost-total-height: 1152px;
$t-biofrost-image: 'sprite.png';
$t-biofrost: (1005px, 318px, -1005px, -318px, 225px, 193px, 1262px, 1152px, 'sprite.png', 't-biofrost', );
$team-c9-name: 'team-c9';
$team-c9-x: 562px;
$team-c9-y: 661px;
$team-c9-offset-x: -562px;
$team-c9-offset-y: -661px;
$team-c9-width: 76px;
$team-c9-height: 52px;
$team-c9-total-width: 1262px;
$team-c9-total-height: 1152px;
$team-c9-image: 'sprite.png';
$team-c9: (562px, 661px, -562px, -661px, 76px, 52px, 1262px, 1152px, 'sprite.png', 'team-c9', );
$team-clg-name: 'team-clg';
$team-clg-x: 638px;
$team-clg-y: 661px;
$team-clg-offset-x: -638px;
$team-clg-offset-y: -661px;
$team-clg-width: 72px;
$team-clg-height: 52px;
$team-clg-total-width: 1262px;
$team-clg-total-height: 1152px;
$team-clg-image: 'sprite.png';
$team-clg: (638px, 661px, -638px, -661px, 72px, 52px, 1262px, 1152px, 'sprite.png', 'team-clg', );
$team-ef-name: 'team-ef';
$team-ef-x: 710px;
$team-ef-y: 661px;
$team-ef-offset-x: -710px;
$team-ef-offset-y: -661px;
$team-ef-width: 76px;
$team-ef-height: 42px;
$team-ef-total-width: 1262px;
$team-ef-total-height: 1152px;
$team-ef-image: 'sprite.png';
$team-ef: (710px, 661px, -710px, -661px, 76px, 42px, 1262px, 1152px, 'sprite.png', 'team-ef', );
$team-lmm-name: 'team-lmm';
$team-lmm-x: 415px;
$team-lmm-y: 661px;
$team-lmm-offset-x: -415px;
$team-lmm-offset-y: -661px;
$team-lmm-width: 68px;
$team-lmm-height: 66px;
$team-lmm-total-width: 1262px;
$team-lmm-total-height: 1152px;
$team-lmm-image: 'sprite.png';
$team-lmm: (415px, 661px, -415px, -661px, 68px, 66px, 1262px, 1152px, 'sprite.png', 'team-lmm', );
$team-pho-name: 'team-pho';
$team-pho-x: 258px;
$team-pho-y: 783px;
$team-pho-offset-x: -258px;
$team-pho-offset-y: -783px;
$team-pho-width: 68px;
$team-pho-height: 60px;
$team-pho-total-width: 1262px;
$team-pho-total-height: 1152px;
$team-pho-image: 'sprite.png';
$team-pho: (258px, 783px, -258px, -783px, 68px, 60px, 1262px, 1152px, 'sprite.png', 'team-pho', );
$footer-logo-1-name: 'footer-logo-1';
$footer-logo-1-x: 908px;
$footer-logo-1-y: 547px;
$footer-logo-1-offset-x: -908px;
$footer-logo-1-offset-y: -547px;
$footer-logo-1-width: 155px;
$footer-logo-1-height: 37px;
$footer-logo-1-total-width: 1262px;
$footer-logo-1-total-height: 1152px;
$footer-logo-1-image: 'sprite.png';
$footer-logo-1: (908px, 547px, -908px, -547px, 155px, 37px, 1262px, 1152px, 'sprite.png', 'footer-logo-1', );
$footer-logo-2-name: 'footer-logo-2';
$footer-logo-2-x: 483px;
$footer-logo-2-y: 661px;
$footer-logo-2-offset-x: -483px;
$footer-logo-2-offset-y: -661px;
$footer-logo-2-width: 79px;
$footer-logo-2-height: 52px;
$footer-logo-2-total-width: 1262px;
$footer-logo-2-total-height: 1152px;
$footer-logo-2-image: 'sprite.png';
$footer-logo-2: (483px, 661px, -483px, -661px, 79px, 52px, 1262px, 1152px, 'sprite.png', 'footer-logo-2', );
$footer-logo-3-name: 'footer-logo-3';
$footer-logo-3-x: 1072px;
$footer-logo-3-y: 511px;
$footer-logo-3-offset-x: -1072px;
$footer-logo-3-offset-y: -511px;
$footer-logo-3-width: 170px;
$footer-logo-3-height: 28px;
$footer-logo-3-total-width: 1262px;
$footer-logo-3-total-height: 1152px;
$footer-logo-3-image: 'sprite.png';
$footer-logo-3: (1072px, 511px, -1072px, -511px, 170px, 28px, 1262px, 1152px, 'sprite.png', 'footer-logo-3', );
$game-icon-name: 'game-icon';
$game-icon-x: 995px;
$game-icon-y: 584px;
$game-icon-offset-x: -995px;
$game-icon-offset-y: -584px;
$game-icon-width: 31px;
$game-icon-height: 29px;
$game-icon-total-width: 1262px;
$game-icon-total-height: 1152px;
$game-icon-image: 'sprite.png';
$game-icon: (995px, 584px, -995px, -584px, 31px, 29px, 1262px, 1152px, 'sprite.png', 'game-icon', );
$hero-1-name: 'hero-1';
$hero-1-x: 143px;
$hero-1-y: 912px;
$hero-1-offset-x: -143px;
$hero-1-offset-y: -912px;
$hero-1-width: 76px;
$hero-1-height: 166px;
$hero-1-total-width: 1262px;
$hero-1-total-height: 1152px;
$hero-1-image: 'sprite.png';
$hero-1: (143px, 912px, -143px, -912px, 76px, 166px, 1262px, 1152px, 'sprite.png', 'hero-1', );
$hero-icon-name: 'hero-icon';
$hero-icon-x: 1230px;
$hero-icon-y: 345px;
$hero-icon-offset-x: -1230px;
$hero-icon-offset-y: -345px;
$hero-icon-width: 21px;
$hero-icon-height: 33px;
$hero-icon-total-width: 1262px;
$hero-icon-total-height: 1152px;
$hero-icon-image: 'sprite.png';
$hero-icon: (1230px, 345px, -1230px, -345px, 21px, 33px, 1262px, 1152px, 'sprite.png', 'hero-icon', );
$index-table-bg-name: 'index-table-bg';
$index-table-bg-x: 0px;
$index-table-bg-y: 159px;
$index-table-bg-offset-x: 0px;
$index-table-bg-offset-y: -159px;
$index-table-bg-width: 1260px;
$index-table-bg-height: 159px;
$index-table-bg-total-width: 1262px;
$index-table-bg-total-height: 1152px;
$index-table-bg-image: 'sprite.png';
$index-table-bg: (0px, 159px, 0px, -159px, 1260px, 159px, 1262px, 1152px, 'sprite.png', 'index-table-bg', );
$index-table-bg2-name: 'index-table-bg2';
$index-table-bg2-x: 0px;
$index-table-bg2-y: 0px;
$index-table-bg2-offset-x: 0px;
$index-table-bg2-offset-y: 0px;
$index-table-bg2-width: 1260px;
$index-table-bg2-height: 159px;
$index-table-bg2-total-width: 1262px;
$index-table-bg2-total-height: 1152px;
$index-table-bg2-image: 'sprite.png';
$index-table-bg2: (0px, 0px, 0px, 0px, 1260px, 159px, 1262px, 1152px, 'sprite.png', 'index-table-bg2', );
$logo-name: 'logo';
$logo-x: 780px;
$logo-y: 511px;
$logo-offset-x: -780px;
$logo-offset-y: -511px;
$logo-width: 292px;
$logo-height: 33px;
$logo-total-width: 1262px;
$logo-total-height: 1152px;
$logo-image: 'sprite.png';
$logo: (780px, 511px, -780px, -511px, 292px, 33px, 1262px, 1152px, 'sprite.png', 'logo', );
$new-icon-name: 'new-icon';
$new-icon-x: 1026px;
$new-icon-y: 584px;
$new-icon-offset-x: -1026px;
$new-icon-offset-y: -584px;
$new-icon-width: 31px;
$new-icon-height: 27px;
$new-icon-total-width: 1262px;
$new-icon-total-height: 1152px;
$new-icon-image: 'sprite.png';
$new-icon: (1026px, 584px, -1026px, -584px, 31px, 27px, 1262px, 1152px, 'sprite.png', 'new-icon', );
$play-icon-name: 'play-icon';
$play-icon-x: 326px;
$play-icon-y: 783px;
$play-icon-offset-x: -326px;
$play-icon-offset-y: -783px;
$play-icon-width: 56px;
$play-icon-height: 56px;
$play-icon-total-width: 1262px;
$play-icon-total-height: 1152px;
$play-icon-image: 'sprite.png';
$play-icon: (326px, 783px, -326px, -783px, 56px, 56px, 1262px, 1152px, 'sprite.png', 'play-icon', );
$rec-bg-name: 'rec-bg';
$rec-bg-x: 0px;
$rec-bg-y: 318px;
$rec-bg-offset-x: 0px;
$rec-bg-offset-y: -318px;
$rec-bg-width: 780px;
$rec-bg-height: 229px;
$rec-bg-total-width: 1262px;
$rec-bg-total-height: 1152px;
$rec-bg-image: 'sprite.png';
$rec-bg: (0px, 318px, 0px, -318px, 780px, 229px, 1262px, 1152px, 'sprite.png', 'rec-bg', );
$rec-icon-name: 'rec-icon';
$rec-icon-x: 1230px;
$rec-icon-y: 405px;
$rec-icon-offset-x: -1230px;
$rec-icon-offset-y: -405px;
$rec-icon-width: 22px;
$rec-icon-height: 29px;
$rec-icon-total-width: 1262px;
$rec-icon-total-height: 1152px;
$rec-icon-image: 'sprite.png';
$rec-icon: (1230px, 405px, -1230px, -405px, 22px, 29px, 1262px, 1152px, 'sprite.png', 'rec-icon', );
$table-download-hover-name: 'table-download-hover';
$table-download-hover-x: 532px;
$table-download-hover-y: 547px;
$table-download-hover-offset-x: -532px;
$table-download-hover-offset-y: -547px;
$table-download-hover-width: 210px;
$table-download-hover-height: 95px;
$table-download-hover-total-width: 1262px;
$table-download-hover-total-height: 1152px;
$table-download-hover-image: 'sprite.png';
$table-download-hover: (532px, 547px, -532px, -547px, 210px, 95px, 1262px, 1152px, 'sprite.png', 'table-download-hover', );
$table-download-name: 'table-download';
$table-download-x: 322px;
$table-download-y: 547px;
$table-download-offset-x: -322px;
$table-download-offset-y: -547px;
$table-download-width: 210px;
$table-download-height: 95px;
$table-download-total-width: 1262px;
$table-download-total-height: 1152px;
$table-download-image: 'sprite.png';
$table-download: (322px, 547px, -322px, -547px, 210px, 95px, 1262px, 1152px, 'sprite.png', 'table-download', );
$table-reg-name: 'table-reg';
$table-reg-x: 1063px;
$table-reg-y: 547px;
$table-reg-offset-x: -1063px;
$table-reg-offset-y: -547px;
$table-reg-width: 116px;
$table-reg-height: 37px;
$table-reg-total-width: 1262px;
$table-reg-total-height: 1152px;
$table-reg-image: 'sprite.png';
$table-reg: (1063px, 547px, -1063px, -547px, 116px, 37px, 1262px, 1152px, 'sprite.png', 'table-reg', );
$video-icon-name: 'video-icon';
$video-icon-x: 1230px;
$video-icon-y: 378px;
$video-icon-offset-x: -1230px;
$video-icon-offset-y: -378px;
$video-icon-width: 25px;
$video-icon-height: 27px;
$video-icon-total-width: 1262px;
$video-icon-total-height: 1152px;
$video-icon-image: 'sprite.png';
$video-icon: (1230px, 378px, -1230px, -378px, 25px, 27px, 1262px, 1152px, 'sprite.png', 'video-icon', );
$video-item-name: 'video-item';
$video-item-x: 235px;
$video-item-y: 661px;
$video-item-offset-x: -235px;
$video-item-offset-y: -661px;
$video-item-width: 180px;
$video-item-height: 100px;
$video-item-total-width: 1262px;
$video-item-total-height: 1152px;
$video-item-image: 'sprite.png';
$video-item: (235px, 661px, -235px, -661px, 180px, 100px, 1262px, 1152px, 'sprite.png', 'video-item', );
$spritesheet-width: 1262px;
$spritesheet-height: 1152px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($arrow-hover, $arrow, $bg-logo, $cop-icon, $arrows, $battle-top, $bg-logo, $biofrost, $bt-bottom-line-h, $bt-bottom-line-n, $bt-icon-h, $bt-icon-n, $bt-team-1, $bt-team-2, $bt-top-line, $ec-more-big, $ec-more, $list-dec, $logo-battle-top, $logo-sm-egd, $logo-sm-lgd, $play-icon-hover-sm, $play-icon, $t-bg-line, $t-bg-linecover, $t-bg-logo, $t-biofrost, $team-c9, $team-clg, $team-ef, $team-lmm, $team-pho, $footer-logo-1, $footer-logo-2, $footer-logo-3, $game-icon, $hero-1, $hero-icon, $index-table-bg, $index-table-bg2, $logo, $new-icon, $play-icon, $rec-bg, $rec-icon, $table-download-hover, $table-download, $table-reg, $video-icon, $video-item, );
$spritesheet: (1262px, 1152px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
